
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.6;
  z-index: 100;

}

.spinner-position {
  top: 40%;
}

.export_button {
  width:200px;
  font-size: 12px;
}

.app-table-toolbar-export {
  padding-top: 10px;
}

.reload_button {
  padding-right: 15px;

}

